/* TODO: Fonts? */

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  background: var(--fog);
  color: var(--black);
}

body[data-theme="light"] {
  background-color: var(--fog);
}

#root {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 90vh;
  max-width: 924px;
  overflow: hidden;
  top: 24px;
  border-radius: 16px;
}

/* Take up full height and width on mobile */
@media only screen and (max-width: 430px) {
  #root {
    top: 0;
    width: auto;
    height: 100%;
    max-height: none;
    min-height: 100%;
    border: none;
    border-radius: 0;
  }
}
